.rouge{
    background-color: red;
    border: solid 2px black;
    margin: 5px;
    height: 50px
}
.bleu{
    background-color: blue;
    border: solid 2px black;
    margin: 5px;
    height: 300px;
    max-width: 50%;
}

.bleubis{
    background-color: blue;
    margin: 5px;
    height: 100px;
    
}

.vert{
    background-color: green;
    margin: 5px;
    height: 300px;
    max-width: 25%;
}

.orange{
    background-color: orange;
    margin: 5px;
    height: 300px;
    max-width: 25%;
}

.position{
    display: flex;
    flex-direction: row;
    width:100%;   
}



