@keyframes exercice7 {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:purple; left:0px; top:100px;}
  50%  {background-color:green; left:200px; top:100px;}
  75%  {background-color:yellow; left:200px; top:0px;}
  100% {background-color:blue; left:0px; top:0px;}
}


div {
  width: 350px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: exercice7;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}